{% load bootstrap3 %}
{% load i18n staticfiles bootstrapped_goodies_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/overrides.css" %}" />
        {% if LANGUAGE_BIDI %}
            <link href="{% static "bootstrap-rtl/css/bootstrap-rtl.min.css" %}" rel="stylesheet"/>
            <link href="{% static "bootstrap-rtl/css/bootstrap-flipped.min.css" %}" rel="stylesheet"/>
        {% endif %}
        <link href="{% static 'css/felis.css' %}" rel="stylesheet">
        <script src="{% static "admin/js/jquery-1.9.1.min.js" %}"></script>
        <script src="{% static "admin/js/jquery-migrate-1.2.1.min.js" %}"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        {% block extra_head %}{% endblock %}
    </head>

    <body>
        <div id="contextMenu" class="sidenav">
            {% block context_menu %}
                <a href="#">About</a>
                <hr>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
            {% endblock %}
        </div>
        {% include 'blocks/context_menu.html' %}

        {% include 'blocks/navbar.html' %}
        <div id="main">
            {% bootstrap_messages %}
            <div class="container">
                {% block breadcrumbs %}
                {% endblock %}
            </div>
            <div class="container">
                {% block content %}(no content){% endblock %}
            </div>
            {% block footer %}<footer id="footer"></footer>{% endblock %}
        </div>

        <script type="text/javascript">
            //<![CDATA[
                window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";
                window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";
            //]]>
        </script>
        <script type="text/javascript">
             //<![CDATA[
                     (function($) {
                         $(document).ready(function() {
                             $('input[type="submit"]').addClass('btn');
                             $('[title]').tooltip();
                         });
                     }(jQuery));
             //]]>
        </script>
        <script type="application/javascript" src="{% static 'js/felis.js' %}"></script>
    </body>
</html>
