{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}Filesystems{% endblock %}

{% block content %}
    <a class="btn btn-default" href="{% url 'admin:felis_filesystem_change' filesystem.pk %}">Edit&nbsp;</a>
    <a class="btn btn-danger" href="{% url 'admin:felis_filesystem_delete' filesystem.pk %}">Destroy&nbsp;</a>

    {{ filesystem }}
        <figure>
        <embed type="image/svg+xml" src="{% url 'fs_diagram_chart' filesystem.pk %}" />
    </figure>
    <hr>

{#    {% bootstrap_pagination lines size="small" %}#}
{% endblock %}

{% block context_menu %}
    <a href="{% url 'admin:felis_filesystem_change' filesystem.pk %}">Edit&nbsp;</a>
{% endblock %}